@import "syntax-highlighting.scss";

html, body {
  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  font-family: 'Open Sans', sans-serif;
  color: var(--font-color);
}

a {
  color: var(--highlight-color);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--highlight-color);
}

ul, ol {
  margin: var(--padding) 0;
  padding-left: var(--padding);
}

code, pre {
  display: block;

  background-color: var(--code-bg-color);

  overflow-x: auto;

  // font-family: $code-font-family;
  margin: 0;
  margin-bottom: var(--padding);
  padding: var(--padding);
  word-wrap: auto;
  word-wrap: initial;
}

pre code {
  border-style: none;

  background-color: transparent;

  overflow-x: auto;

  margin: calc(-1 * var(--padding));
}

p code {
  display: inline;

  padding: calc(var(--padding) / 7) calc(var(--padding) / 6);
}
