<nav class="nav-drawer js-nav-drawer">

  <ul>
    {% assign navigation_pages = site.pages | sort: 'navigation_weight' %}
    {% for nav_page in navigation_pages %}
      <li>
        <a href="{{ nav_page.url }}" {% if nav_page.url == page.url %}class="active"{% endif %}>
          {% if nav_page.url == "/docs/" %}
            Docs
          {% else %}
            {{ nav_page.title }}
          {% endif %}
        </a>
      </li>
    {% endfor %}
  </ul>

</nav>

<div class="nav-drawer__backdrop"></div>
