---

---

@import "../_sass/variables/dimensions.scss";
@import "../_sass/variables/colors.scss";
@import "../_sass/variables/z-index.scss";

@import "../_sass/base.scss";

@import "../_sass/components/nav-drawer.scss";
@import "../_sass/components/menu-btn.scss";
@import "../_sass/components/site-header.scss";
@import "../_sass/components/page-header.scss";
@import "../_sass/components/footer.scss";
@import "../_sass/components/button.scss";

.u-center {
    text-align: center;
}

main {
  padding: 0 var(--padding);
  box-sizing: border-box;
}
